.cell {
    position: relative;

    --light: #D58F64;
    --dark: #7F3300;

    #row {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 5px 10px;
    }

    #column {
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px 10px;
    }
}
