.informations {
    // background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: column;

    .clock {
        background-color: lightgray;
        width: fit-content;
        padding: 10px 20px;
    }

    .name {
        background-color: lightgray;
        width: calc(100% - 40px);
        padding: 10px 20px;
    }

    .moves {
        background-color: gray;
        width: calc(100% - 40px);
        max-height: 16vh;
        overflow: scroll;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-auto-columns: 1fr;
        gap: 10px;
        
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .moves::-webkit-scrollbar {
        display: none;
      }
}
